<section class="section">
  <div id="online-oracle" class="container container--md align-center">
     <h1>Online Oracle</h1>
     <div class="section__copy">
        <h5>Below are the stages and states in pictoral form.</h5>
        <h5>Click/tap them to learn more. Use the Divinate tool to obtain an automated oracle reading.</h5>
      </div>
  <div>
    <h5 class="scope-text">Stages</h5>
  </div>
  <div class="scene">
    <div class="carousel">
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front" modal="1">
            <img src="images/interactive-deck/cards/1_outer_birth.jpg"></img>
          </div>
          <div class="card__face card__face--back" modal="1">
            <img src="images/interactive-deck/cards/1_inner_presence.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front" modal="2">
            <img src="images/interactive-deck/cards/2_outer_growth.jpg"></img>
          </div>
          <div class="card__face card__face--back"  modal="2">
            <img src="images/interactive-deck/cards/2_inner_gratitude.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front"  modal="3">
            <img src="images/interactive-deck/cards/3_outer_relationships.jpg"></img>
          </div>
          <div class="card__face card__face--back"  modal="3">
            <img src="images/interactive-deck/cards/3_inner_synchronicity.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front"  modal="4">
            <img src="images/interactive-deck/cards/4_outer_aging.jpg"></img>
          </div>
          <div class="card__face card__face--back"  modal="4">
            <img src="images/interactive-deck/cards/4_inner_gnosis.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front" modal="5">
            <img src="images/interactive-deck/cards/5_outer_loss.jpg"></img>
          </div>
          <div class="card__face card__face--back" modal="5">
            <img src="images/interactive-deck/cards/5_inner_meta-gnosis.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front" modal="6">
            <img src="images/interactive-deck/cards/6_outer_death.jpg"></img>
          </div>
          <div class="card__face card__face--back" modal="6">
            <img src="images/interactive-deck/cards/6_inner_rapture.jpg"></img>
          </div>
        </div>
      </div>
      <div class="carousel__cell">
        <div class="oracle__card">
          <div class="card__face card__face--front" modal="7">
            <img src="images/interactive-deck/cards/7_outer_tree.jpg"></img>
          </div>
          <div class="card__face card__face--back" modal="7">
            <img src="images/interactive-deck/cards/7_inner_spirit.jpg"></img>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-options">
    <p>
      <button class="button previous-button">Previous</button>
      <button class="button next-button">Next</button>
    </p>
    <p>
      <button class="button btn--secondary flip-button">Flip Cards</button>
    </p>
    <p>
      <button class="button btn--glow spin-button">Divinate Oracle</button>
    </p>

  </div>

  </div>
</section>
